# Вариант 3: Стейджинг деплой
# Средняя конфигурация: ресурсы включены, ingress включен, 2 реплики, другая версия nginx
# helm install nginx-staging ./nginx-chart -f examples/values-staging.yaml

replicaCount: 2

image:
  repository: nginx
  tag: "1.24-alpine"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  className: nginx
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
  host: staging.example.com
  path: /
  pathType: Prefix

resources:
  enabled: true
  requests:
    memory: "32Mi"
    cpu: "50m"
  limits:
    memory: "64Mi"
    cpu: "100m"

sharedMemory:
  enabled: false

probes:
  startup:
    enabled: true
    initialDelaySeconds: 5
    periodSeconds: 5
    failureThreshold: 30
    timeoutSeconds: 3
  readiness:
    enabled: true
    initialDelaySeconds: 5
    periodSeconds: 10
    failureThreshold: 3
    timeoutSeconds: 3
  liveness:
    enabled: true
    initialDelaySeconds: 15
    periodSeconds: 20
    failureThreshold: 3
    timeoutSeconds: 3
